{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}

<div class="account-container">
    <h2 class="account-title">Modifier mes informations</h2>
    <div class="account-child">
        <div class="label">Nom</div>
        <div class="value">
            {{ form_row(form.lastname, { 'label' : false }) }}
        </div>
        <a href="">Modifier <i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <hr>
    <div class="account-child">
        <div class="label">Prénom</div>
        <div class="value">
            {{ form_row(form.firstname, { 'label' : false }) }}
        </div>
        <a href="">Modifier <i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <hr>
    <div class="account-child">
        <div class="label">Email</div>
        <div class="value">
            {{ form_row(form.email, { 'label' : false }) }}
        </div>
        <a href="">Modifier <i class="fa-solid fa-pen-to-square"></i></a>
    </div>
</div>

{% endblock %}