{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="account-container">
    <div class="account-child">
        <div class="label">Nom</div>
        <div class="value">admin</div>
    </div>
    <div class="account-child">
        <div class="label">Prénom</div>
        <div class="value">admin</div>
    </div>
    <div class="account-child">
        <div class="label">Email</div>
        <div class="value">admin@gmail.com</div>
    </div>
</div>
{% endblock %}