/* .account-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
} */

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: white;
}

.account-intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.account-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.account-container hr {
    width: 100%;
    border: none;
    border-top: solid 1px black;
    margin: 0;
}

.account-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0;
    font-size: 1.2rem;
}


.account-child:first-of-type {
    margin-top: 0;
}

.account-child:last-of-type {
    margin-bottom: 0;
}

.account-child input {
    border: none;
    background-color: #f9f9f7;
    width: auto;
    padding: 1.25rem;
}

.account-edit-button {
    box-sizing: border-box;
    font-weight: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: .75rem;
    border: solid 2px black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
    height: fit-content;
}

.account-edit-button:hover {
    color: white;
    background-color: black;
}

@media only screen and (min-width: 768px) {
    .main-account-container {
        display: flex;
        justify-content: center;
    }

    .account-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem;
        margin: 5rem 7vw;
        background-color: white;
        width: 100%;
        max-width: 60vw;
    }

    .account-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}