footer {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(248, 248, 246);
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.column-container .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
    width: 100%;
}

.column-container .logo img {
    max-width: 40%;
    height: auto;
}

.column-container p {
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(105, 105, 105);
}

.column-container h3 {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1.25rem;
}

.column-container a {
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(105, 105, 105);
    margin-bottom: 1.25rem;
    text-decoration: none;
    transition: all 300ms;
}

.column-container a:hover {
    color: black;
}

.column-container:nth-of-type(2) a:last-of-type, .column-container:last-of-type a:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: none;
    }
    .column-container {
        width: 25vw;
        height: auto;
        text-align: justify;
    }
    .column-container:nth-of-type(2) {
        align-items: center;
    }
    .column-container:last-of-type {
        align-items: flex-end;
    }
    .column-container .logo {
        display: flex;
        justify-content: left;
        margin-bottom: 1.25rem;
    }
    .column-container a {
        margin: 0;
    }
}