main {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: auto;
    background-color: rgb(248, 248, 246);
}

.hero-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url(../images/hero-header-img.webp);
    background-size: cover;
    background-position: top 65% center;
    z-index: 0;
}

.hero-header-content {
    position: absolute;
    left: 7vw;
    color: white;
}

.hero-header-content p {
    font-size: 1rem;
    font-weight: 700;
}

.hero-header-content h2 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

.hero-header-content a {
    box-sizing: border-box;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem;
    border: solid 1px white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.hero-header-content a:hover {
    color: black;
    background-color: white;
}

.page-content {
    position: relative;
    height: auto;
    width: calc(100% - 14vw);
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
    z-index: 500;
}

.lodgings {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: auto;
    margin-bottom: 5rem;
}

.lodging-content {
    display: flex;
    flex-direction: column;
}

.lodging-img {
    height: 7.5rem;
    margin-bottom: 2.5rem;
}

.lodging-info {
    width: auto;
    text-align: justify;
}

.lodging-title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: .5rem;
}

.lodging-desc {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(105, 105, 105);
}

.pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5rem;
}

.pic {
    display: block;
    min-width: 29vw;
    height: 39vw;
    transition: filter 300ms;
}

.pic1 {
    background-image: url(../images/pic1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic2 {
    background-image: url(../images/pic2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic3 {
    background-image: url(../images/pic3.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic4 {
    background-image: url(../images/pic4.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #f2f2f2;
}

.about .welcome-text {
    width: 100%;
    height: auto;
    margin-top: -1.125rem;
    margin-bottom: 2.5rem;
}

.about .welcome-text svg text:first-of-type {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    stroke: white;
    stroke-width: .5rem;
    fill: black;
}

.about .welcome-text svg text:last-of-type {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    fill: black;
}

.about p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(105, 105, 105);
    text-align: justify;
}

.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.banner h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2.625rem;
    color: white;
    margin-left: 7vw;
    margin-right: 7vw;
    z-index: 100;
}

.first-banner {
    background-image: url(../images/first-banner-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second-banner {
    position: relative;
}

.second-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/second-banner-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(70%);
}

.check-availibility-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    margin-bottom: 5rem;
    max-width: 100%;
}

.check-availibility-form .form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


.check-availibility-form .form-field label {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.check-availibility-form .form-field i {
    font-size: .875rem;
    margin-right: .375rem;
}

.check-availibility-form .form-field:last-of-type {
    justify-content: flex-end;
}

.check-availibility-form .form-field input, .check-availibility-form .form-field select {
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-bottom: .125rem solid black;
    background-color: transparent;
    max-width: 100%;
}

.check-availibility-form .form-field input:active, .check-availibility-form .form-field select:active {
    border: none;
}

.check-availibility-form .form-field .submit {
    box-sizing: border-box;
    font-weight: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem;
    border: solid 2px black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.check-availibility-form .form-field .submit:hover {
    color: white;
    background-color: black;
}

.travelers {
    display: none;
    flex-direction: column;
    gap: 1.25rem;
    position: absolute;
    margin-top: 3.5rem;
    background-color: white;
    padding: 1.25rem;
    border-radius: .5rem;
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, .25);
}

.active {
    display: flex !important;
}

.travelers-adults, .travelers-children {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.travelers-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.travelers-text p:first-of-type {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.travelers-text p:last-of-type {
    font-size: .875rem;
    color: #696969;
}

.travelers-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.travelers-counter button {
    border-radius: 100rem;
    width: 2rem;
    height: 2rem;
    border: solid .0625rem rgb(105, 105, 105);
    color: rgb(105, 105, 105);
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.travelers-counter button:hover {
    border-color: black;
    color: black;
}

.travelers-counter button:disabled {
    border-color: #d1d1d1;
    color: #d1d1d1;
    cursor: not-allowed;
}

.travelers-counter input {
    font-weight: 500 !important;
    width: 2rem;
    border-bottom: none !important;
    text-align: center;
    color: black;
}

.ecology {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
}

.ecology-pic {
    height: 80vw;
}

.ecology-text {
    display: flex;
    flex-direction: column;
}

.ecology-text h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #f2f2f2;
}

.ecology-text .ecology-experience-text {
    height: auto;
    margin-top: -1.125rem;
    margin-bottom: 2.5rem;
    width: 100%;
}

.ecology-text .ecology-experience-text svg {
    overflow: visible;
}

.ecology-text .ecology-experience-text svg text:first-of-type {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    stroke: white;
    stroke-width: .5rem;
    fill: black;
}

.ecology-text .ecology-experience-text svg text:last-of-type {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    fill: black;
}

.ecology p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
    color: rgb(105, 105, 105);
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
}

.review-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.review-text p:first-of-type {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(105, 105, 105);
    text-align: justify;
}

.review-text p:last-of-type {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: black;
}

@media only screen and (min-width: 768px) {
    .hero-header {
        height: 70vh;
    }

    .hero-header-content {
        margin-top: -2.5rem;
    }

    .hero-header-content h2 {
        max-width: 70%;
        font-size: 3.375rem;
    }

    .page-content {
        position: relative;
        margin-top: -2.5rem;
        height: auto;
        width: calc(100% - 14vw);
        padding-left: 7vw;
        padding-right: 0;
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: white;
        z-index: 500;
    }

    .pics {
        width: calc(100% + 7vw);
    }

    .lodgings {
        margin-right: 2.5rem;
    }

    .lodging-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .lodging-img {
        margin-bottom: 0;
    }

    .lodging-info {
        margin-left: 2.5rem;
    }

    .banner {
        height: 70vh;
        margin-top: -2.5rem;
    }

    .banner h2 {
        text-align: left;
        max-width: 70%;
        font-size: 2.25rem;
        margin-right: 7vw;
    }

    .second-banner h2 {
        margin-top: 2.5rem;
    }

    .about h2 {
        font-size: 3.375rem;
    }

    .about .welcome-text svg text:first-of-type {
        font-size: 2rem;
    }

    .about .welcome-text svg text:last-of-type {
        font-size: 2rem;
    }

    .about p {
        margin-right: 5rem;
        margin-left: 5rem;
        text-align: center;
    }

    .check-availibility-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2.5rem;
        margin-bottom: 5rem;
        max-width: 100%;
    }

    .check-availibility-form .form-field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 13vw;
    }

    .check-availibility-form .nb-travelers {
        max-width: 15vw !important;
    }

    .ecology {
        flex-direction: row;
    }

    .ecology-pic {
        height: 39vw;
    }

    .ecology-text {
        margin-right: 2.5rem;
    }

    .ecology-text h2 {
        font-size: 3.375rem;
    }

    .ecology-text .ecology-experience-text svg text:first-of-type {
        font-size: 2rem;
    }

    .ecology-text .ecology-experience-text svg text:last-of-type {
        font-size: 2rem;
    }

    .ecology-text p {
        text-align: left;
    }

    .reviews {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .review-text p:first-of-type {
        text-align: center;
    }
}

@media only screen and (min-width: 972px) {
    .lodgings {
        flex-direction: row;
        height: 7.5rem;
    }
}