body {
    font-family: 'Raleway', sans-serif;
}

.lodging-show-hero-banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url(../images/lodging-show-hero-banner-img.webp);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.lodging-show-hero-banner-content {
    display: flex;
    align-items: center;
    padding-left: 7vw;
    padding-right: 7vw;
    width: calc(100% - 14vw);
    height: 100%;
    backdrop-filter: brightness(70%);
    color: white;
}

.lodging-show-hero-banner-content h2 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

.lodging-check-availibility-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    margin-bottom: 5rem;
    max-width: 100%;
}

.lodging-check-availibility-form .form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.lodging-check-availibility-form .form-field label {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.lodging-check-availibility-form .form-field i {
    font-size: .875rem;
    margin-right: .375rem;
}

.lodging-check-availibility-form .form-field:last-of-type {
    justify-content: flex-end;
}

.lodging-check-availibility-form .form-field input, .lodging-check-availibility-form .form-field select {
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    border-bottom: .125rem solid black;
    background-color: transparent;
    max-width: 100%;
}

.lodging-check-availibility-form .form-field input:active, .lodging-check-availibility-form .form-field select:active {
    border: none;
}

.lodging-check-availibility-form .form-field .submit {
    box-sizing: border-box;
    font-weight: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem;
    border: solid 2px black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.lodging-check-availibility-form .form-field .submit:hover {
    color: white;
    background-color: black;
}

.lodging-show-page-content {
    padding-left: 7vw;
    padding-right: 7vw;
    background-color: #fff;
}

.lodging-show-about {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lodging-show-about h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #f2f2f2;
}

.lodging-show-about .welcome-text {
    width: 100%;
    height: auto;
    margin-top: -1.125rem;
    margin-bottom: 2.5rem;
}

.lodging-show-about .welcome-text svg text:first-of-type {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    stroke: white;
    stroke-width: .5rem;
    fill: black;
}

.lodging-show-about .welcome-text svg text:last-of-type {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    fill: black;
}

.lodging-show-about p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(105, 105, 105);
    text-align: justify;
}

.container-lodging-show {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 5rem;
}

.lodging-show {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lodging-show-img-container {
    overflow: hidden;
}

.lodging-show-img-container img {
    width: 100%;
    /* -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.4);
    transform: scale(1.4); */
}

.lodging-show-img-container:hover img {
    -webkit-transform: scale(2);
    transform: scale(1);
}

.content-lodging-show {
    background-color: rgb(248, 248, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    padding: 2.5rem;
    width: calc(100% - 5rem);
}

.content-lodging-show h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.content-lodging-show p {
    width: 100%;
    text-align: justify;
}

.content-lodging-show-last-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: .625rem;
}

.content-lodging-show-last-line-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.content-lodging-show-last-line-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .625rem;
    width: 70%;
}

.content-lodging-show-last-line-right h3 {
    font-size: 1rem;
    font-weight: 600;
}

.content-lodging-show-last-line-right h3 span {
    font-size: .625rem;
}

.btn-discover-lodging-show {
    box-sizing: border-box;
    font-weight: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem;
    border: solid 2px black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn-discover-lodging-show:hover {
    color: white;
    background-color: black;
}

@media only screen and (min-width: 768px) {
    /* .lodging-show-about h2 {
        font-size: 3.375rem;
    }

    .lodging-show-about .welcome-text svg text:first-of-type {
        font-size: 2rem;
    }

    .lodging-show-about .welcome-text svg text:last-of-type {
        font-size: 2rem;
    } */

    .lodging-show-about p {
        text-align: center;
    }

    .lodging-check-availibility-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 5rem;
        max-width: 100%;
    }

    .lodging-check-availibility-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5rem;
        max-width: 100%;
    }

    .lodging-check-availibility-form .form-field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 13vw;
    }

    .lodging-check-availibility-form .nb-travelers {
        max-width: 15vw !important;
    }

    .container-lodging-show {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5rem;
    }

    .lodging-show {
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .lodging-show-img-container {
        width: 40%;
        height: 30vh;
        overflow: hidden;
    }

    .content-lodging-show {
        width: calc(60% - 5rem);
        height: calc(100% - 5rem);
        justify-content: space-between;
        align-items: flex-start;
    }

    .content-lodging-show-last-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 1rem;
    }

    .content-lodging-show-last-line-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        width: 50%;
    }

    .content-lodging-show-last-line-left p {
        width: auto;
    }

    .content-lodging-show-last-line-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1.25rem;
        width: 50%;
    }

    .content-lodging-show-last-line-right h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .content-lodging-show-last-line-right h3 span {
        font-size: 1rem;
    }
}