body {
    font-family: 'Raleway', sans-serif;
}
.lodging-intro{
    padding: 30px;
}
.container-lodging {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.lodging {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin: 30px 0;

}

.img-container {

    overflow: hidden;
    min-width: 255px;
    max-width: 315px;

}

.img-container img {

    max-width: 100%;
    vertical-align: top;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.img-container:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}


.content-lodging {
background-color: aquamarine;
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
}
.content-lodging p{
    background-color: rgb(255, 119, 0);
    padding: 10px;
    display: block;
    width: 75%;
    text-align: justify;

}
.btn-discover-lodging{
    margin-top: 30px;
    width:25%;
    height: 25%;
    border-radius: 20px;
    background-color:green;
    text-align: center;
    line-height:50px;
}