body {
    font-family: 'Raleway', sans-serif;
    
    
}
.lodging-intro h1{
    text-align: center;
    font-size: 1.25rem;
}
.lodging-intro{
    padding: 30px;
    background-color: #c7ef859e;

}
.container-lodging {
    
    background-color: #F8F8F6;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

}

.lodging {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

}

.img-container {
    overflow: hidden;
    min-width: 255px;
    max-width: 315px;


}

.img-container img {

    max-width: 100%;
    vertical-align: top;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.img-container:hover img {
    -webkit-transform: scale(2);
    transform: scale(1);
}


.content-lodging {
background-color: rgb(255, 255, 255);
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
}
.content-lodging p{
    padding: 10px;
    display: block;
    width: 70%;
    text-align: justify;

}
.btn-discover-lodging{
    margin-top: 30px;
    width:25%;
    height: 25%;
    border-radius: 20px;
    background-color: #c7ef859e;
    text-align: center;
    line-height:50px;
    
}
----------------------------------------------------------------
.hero-header-content {
    position: absolute;
    left: 7vw;
    color: white;
}

.hero-header-content p {
    font-size: 1rem;
    font-weight: 700;
}

.hero-header-content h2 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

.hero-header-content a {
    box-sizing: border-box;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem;
    border: solid 1px white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}