body {
    font-family: 'Raleway', sans-serif;
}

.lodging-intro h1{
    text-align: center;
    font-size: 1.25rem;
}

.lodging-intro{
    padding: 30px;
    background-color: #c7ef859e;

}

.container-lodging {
    width: calc(100% - 14vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F6;
    padding-left: 7vw;
    padding-right: 7vw;
}

.lodging {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.img-container {
    overflow: hidden;
    max-width: auto;
    height: 20vh;
}

.img-container img {
    max-width: 100%;
    vertical-align: top;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.img-container:hover img {
    -webkit-transform: scale(2);
    transform: scale(1);
}

.content-lodging {
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.content-lodging p{
    padding: 10px;
    display: block;
    width: 70%;
    text-align: justify;
}

.btn-discover-lodging{
    margin-top: 30px;
    width:25%;
    height: 25%;
    border-radius: 20px;
    background-color: #c7ef859e;
    text-align: center;
    line-height:50px;
}

@media only screen and (min-width: 768px) {
    .container-lodging {
        flex-direction: row;
    }

    .lodging {
        width: 25vw;
    }

    .img-container {
        height: 30vh;
    }
}