.nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.nav .logo {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}

.nav .logo img {
    height: 1rem;
}

.desktop-nav {
    display: none;
}

.desktop-link {
    display: none;
}

.mobile-nav-button::before {
    position: relative;
    display: block;
    content: '';
    width: 1rem;
    height: .125rem;
    background-color: black;
}

.mobile-nav-button {
    width: 1rem;
    height: .5rem;
}

.mobile-nav-button::after {
    position: relative;
    display: block;
    content: '';
    margin-top: .25rem;
    width: 1rem;
    height: .125rem;
    background-color: black;
}

.mobile-nav-menu {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: none;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(248, 248, 246);
    z-index: 500;
}

.mobile-nav-menu.active {
    display: flex !important;
}

.mobile-nav-menu a {
    width: 100%;
    line-height: 1.5;
    margin-top: .625rem;
    margin-bottom: .625rem;
}

.mobile-nav-menu hr {
    margin: 0;
    border-top: solid .0625rem rgb(105, 105, 105);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.mobile-nav-menu a:first-of-type {
    margin-top: 0;
}

.mobile-nav-menu a:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .desktop-nav {
        display: flex;
        flex-direction: row;
    }
    .nav .desktop-nav li:nth-child(2) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .desktop-link {
        display: block;
    }
    .mobile-nav-button {
        display: none;
    }
}