.nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2.5rem);
    height: 7vh;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 700;
    transition: all 100ms;
}

.nav a {
    text-decoration: none;
    color: black;
    transition: all 300ms;
}

.nav a:hover {
    color: rgb(213, 146, 116);
}

.nav .logo {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}

.nav .logo img {
    height: 1rem;
}

.desktop-nav {
    display: none;
}

.desktop-link {
    display: none;
}

.right-nav-container {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    gap: 1rem;
}

.right-nav-container i {
    font-size: 1.25rem;
}

.mobile-nav-button::before {
    position: relative;
    display: block;
    content: '';
    width: 1rem;
    height: .125rem;
    background-color: black;
    transition: all 300ms;
}

.mobile-nav-button {
    width: 1rem;
    height: .5rem;
    cursor: pointer;
}

.mobile-nav-button::after {
    position: relative;
    display: block;
    content: '';
    margin-top: .25rem;
    width: 1rem;
    height: .125rem;
    background-color: black;
    transition: all 300ms;
}

.mobile-nav-button.button-active::before {
    transform: rotate(45deg);
    margin-top: .125rem;
}

.mobile-nav-button.button-active::after {
    transform: rotate(-45deg);
    margin-top: -.125rem;
}

.mobile-nav-menu {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 4rem);
    height: calc(100vh - 7vh);
    padding: 2rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    z-index: -100;
    transition: all 300ms cubic-bezier(0.64, 0, 0.78, 0);
    transition-delay: 300ms;
}

.mobile-nav-menu.active {
    opacity: 1;
    transition: all 300ms cubic-bezier(0.25, 1, 0.5, 1);
    transition-delay: 0ms;
    z-index: 600;
}

.mobile-nav-menu li {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1.55rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.mobile-nav-menu .mobile-nav-links {
    position: absolute;
    bottom: -1.625rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    transition: bottom 300ms cubic-bezier(0.32, 0, 0.67, 0);
}

.mobile-nav-menu li:first-of-type .mobile-nav-links.active {
    transition: bottom 500ms cubic-bezier(0.33, 1, 0.68, 1) 300ms, color 300ms;
}

.mobile-nav-menu li:nth-of-type(2) .mobile-nav-links.active {
    transition: bottom 500ms cubic-bezier(0.33, 1, 0.68, 1) 600ms, color 300ms;
}

.mobile-nav-menu li:last-of-type .mobile-nav-links.active {
    transition: bottom 500ms cubic-bezier(0.33, 1, 0.68, 1) 900ms, color 300ms;
}

.mobile-nav-menu .mobile-nav-links.active {
    bottom: -.125rem;
}

.mobile-nav-menu a:hover {
    color: rgb(213, 146, 116);
}

.mobile-nav-menu li:first-of-type {
    margin-top: 0;
}

.mobile-nav-menu li:last-of-type {
    margin-bottom: 0;
}

.profil-nav-button {
    cursor: pointer;
}

.profil-nav-menu {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    position: fixed;
    top: -30%;
    right: 0;
    width: auto;
    padding: 2rem;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(248, 248, 246);
    z-index: 600;
    transition: all 500ms cubic-bezier(0.64, 0, 0.78, 0);
}

.profil-nav-menu.active {
    display: flex !important;
    top: 7vh;
    transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.profil-nav-menu li {
    width: 100%;
    line-height: 1.5;
    margin-top: .625rem;
    margin-bottom: .625rem;

}

.profil-nav-menu hr {
    margin: 0;
    border-top: solid .0625rem rgb(105, 105, 105);
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.profil-nav-menu a {
    text-decoration: none;
    color: black;
    transition: all 300ms;
}

.profil-nav-menu a:hover {
    color: rgb(213, 146, 116);
}

.profil-nav-menu a:first-of-type {
    margin-top: 0;
}

.profil-nav-menu a:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 20vw !important;
    }
    .desktop-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60vw !important;
    }
    .nav .desktop-nav li:nth-child(2) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    .desktop-link {
        display: block;
    }
    .right-nav-container {
        width: 20vw !important;
        justify-content: flex-end;
    }
    .mobile-nav-button {
        display: none;
    }
    .mobile-nav-menu {
        display: none;
    }
}