body {
    font-family: 'Raleway', sans-serif;
    background-color: #f9f9f7;
}

.main-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form-container form {
    width: 100%;
    max-width: 60vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 7vw;
    margin-right: 7vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: white;
}

.form-container label {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-bottom: .5rem;
}

.form-container input {
    border: none;
    background-color: #f9f9f7;
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

.form-container input::placeholder {
    left: 2.5rem;
}

.form-container button {
    box-sizing: border-box;
    font-weight: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem;
    border: solid 2px black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.form-container button:hover {
    color: white;
    background-color: black;
}