.reservation-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 7vw;
    padding-right: 7vw;
    width: calc(100% - 14vw);
}

.reservation-main-container hr {
    width: auto;
    border: none;
    border-top: .0625rem solid #696969;
    margin: 0;
}

.reservation-main-container h2 {
    font-weight: 700;
}

.reservation-info-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: calc(100% - 5rem);
    height: fit-content;
    padding: 2.5rem;
    background-color: rgb(248, 248, 246);
}

.reservation-info-container h3 {
    font-weight: 600;
}

.reservation-date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.25rem;
    width: 100%;
}

.reservation-checkin-date {
    height: fit-content;
    width: calc(50% - 0.625rem);
}

.reservation-date-container hr {
    height: auto;
    border: none;
    border-left: .0625rem solid #696969;
    margin: 0;
}

.reservation-checkout-date {
    height: fit-content;
    width: calc(50% - 0.625rem);
}

.reservation-price-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.reservation-price-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reservation-price-line:last-of-type p {
    font-weight: 600;
}

.reservation-form-container {
    width: calc(100% - 5rem);
    padding: 2.5rem;
    background-color: rgb(248, 248, 246);
}

.reservation-form-container form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.reservation-form-container h2 {
    font-size: 1.25rem;
}

.reservation-form-line {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.reservation-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reservation-form-field label {
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: .3175rem;
}

.reservation-form-field input {
    line-height: 1.5;
    border: none;
    border-radius: .25rem;
    background-color: white;
    padding: .625rem;
}


.reservation-form-container button {
    box-sizing: border-box;
    font-weight: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .75rem;
    border: solid 2px black;
    color: black;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.reservation-form-container button:hover {
    color: rgb(248, 248, 246);
    background-color: black;
}

@media only screen and (min-width: 768px) {
    .reservation-main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 7vw;
        padding-right: 7vw;
        width: calc(100% - 14vw);
    }

    .reservation-main-container hr {
        width: auto;
        border: none;
        border-top: .0625rem solid #696969;
        margin: 0;
    }
    
    .reservation-main-container h2 {
        font-weight: 700;
    }
    
    .reservation-info-container {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: calc(30% - 5rem);
        height: fit-content;
        padding: 2.5rem;
        background-color: rgb(248, 248, 246);
    }
    
    .reservation-info-container h3 {
        font-weight: 600;
    }
    
    .reservation-date-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1.25rem;
        width: 100%;
    }
    
    .reservation-checkin-date {
        height: fit-content;
        width: calc(50% - 0.625rem);
    }
    
    .reservation-date-container hr {
        height: auto;
        border: none;
        border-left: .0625rem solid #696969;
        margin: 0;
    }
    
    .reservation-checkout-date {
        height: fit-content;
        width: calc(50% - 0.625rem);
    }
    
    .reservation-price-container {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    
    .reservation-price-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .reservation-price-line:last-of-type p {
        font-weight: 600;
    }
    
    .reservation-form-container {
        width: calc(70% - 7.5rem);
        padding: 2.5rem;
        background-color: rgb(248, 248, 246);
    }
    
    .reservation-form-container form {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    
    .reservation-form-container h2 {
        font-size: 1.25rem;
    }
    
    .reservation-form-line {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }
    
    .reservation-form-field {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    
    .reservation-form-field label {
        line-height: 1.5;
        font-weight: 600;
        margin-bottom: .3175rem;
    }
    
    .reservation-form-field input {
        line-height: 1.5;
        border: none;
        border-radius: .25rem;
        background-color: white;
        padding: .625rem;
    }
    
    
    .reservation-form-container button {
        box-sizing: border-box;
        font-weight: 'Raleway', sans-serif;
        font-size: .75rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: .75rem;
        border: solid 2px black;
        color: black;
        background-color: transparent;
        cursor: pointer;
        transition: all 300ms;
    }
    
    .reservation-form-container button:hover {
        color: rgb(248, 248, 246);
        background-color: black;
    }
}