
{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}

<div class="services-hero-header">
  <div class="services-hero-header-content">
    <h1>Nos services</h1>
  </div>
</div>

<div class="services-page-content">
  <div class="services-text">
    <h2>Nos services</h2>
    <div class="welcome-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="3rem">
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          mis à votre disposition
        </text>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          mis à votre disposition
        </text>
      </svg>
    </div>
    <p>Restauration, loisirs, transports ...</p>
    <p>Une gamme de foodtrucks, des aire de jeux, des navettes gratuites </p>
   
  </div>
<<<<<<< HEAD
    <div class="services">
        <img src="{{ asset('images/services1.jpg') }}" onClick="carousel()" alt="">
    </div>
   


{% endblock %}
=======
  <div class="services-img"></div>
</div>

{% endblock %}

>>>>>>> 83b021021fe7e7d608bd931986f1cb3971b74e06
{% block javascripts %}
    <script src="{{ asset('js/services.js') }}"></script>
{% endblock %}