
{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
    <h1>Nos services</h1>
    <div class="services">
        <img src="{{ asset('images/services1.jpg') }}" alt="">
    </div>
   


{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/services.js') }}"></script>
{% endblock %}