
{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}

<div class="services-hero-header">
  <div class="services-hero-header-content">
    <h1>Nos services</h1>
  </div>
</div>

<div class="services-page-content">
  <div class="services-text">
    <h2>Nos services</h2>
    <div class="welcome-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="3rem">
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          mis à votre disposition
        </text>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          mis à votre disposition
        </text>
      </svg>
    </div>
    <p>Restauration, loisirs, transports ...</p>
    <p>Une gamme de foodtrucks, des aire de jeux, des navettes gratuites...</p>
  </div>

  <div class="services-description">

    <div class="services-img">

      <div class="services-img-button services-img-left-button"><i class="fa-solid fa-chevron-left" onclick ="changeImagePrevious()"></i></div>
      <div class="services-img-button services-img-right-button"><i class="fa-solid fa-chevron-right" onclick="changeImageNext()"></i></div>

    </div>

    <div class="services-content">

      <div class="services-content-item active">
        <h2>La restauration</h2>
        <p>Nos foodtrucks sont présents sur site, vous proposant des menus divers et variés.
        Vegan, snack, friterie...
        </p>
      </div>

      <div class="services-content-item">
        <h2>Nos navettes gratuites</h2>
        <p>Nos navettes seront présentes pour vous accompagner aux épreuves myhtique des JO. Tout ça écologiquement et gratuitement.
        </p>
      </div>

      <div class="services-content-item">
        <h2>Nos aires de jeux</h2>
        <p>Nos aires de jeux sont présents sur site, pour tout les enfants de 0 a 12 ans.
        </p>
      </div>

      <div class="services-content-item">
        <h2>Nos taxis tricycle</h2>
        <p>Partez à la découverte des magnifiques paysages aux abords de note site. 
        </p>
      </div>

    </div>

  </div>

</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/services.js') }}"></script>
{% endblock %}