
{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}

<div class="services-hero-header">
  <div class="services-hero-header-content">
    <h1>Nos services</h1>
  </div>
</div>

<div class="services-page-content">
  <div class="services-text">
    <h2>Nos services</h2>
    <div class="welcome-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="3rem">
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          mis à votre disposition
        </text>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          mis à votre disposition
        </text>
      </svg>
    </div>
    <p>Restauration, loisirs, transports ...</p>
    <p>Une gamme de foodtrucks, des aire de jeux, des navettes gratuites </p>
    <p>L'équipe du projet est composée de 4 développeurs Web et Web mobile.</p>
  </div>
  <div class="services-img"></div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/services.js') }}"></script>
{% endblock %}