{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}

<div class="about-hero-banner">
  <h1>Qui sommes-nous ?</h1>
  <p>Notre projet de fin de formation chez WF3 Lille, Cocoricamp !</p>
  <p>Proposer des hébergements, eco-responsable à des prix attractifs pour les JO 2024.</p>
</div>

<h2>L'équipe du projet est composée de 4 développeurs Web et Web mobile</h2>

<div class="team-container">
  <div class="team-member">
    <img src="{{ asset('images/team-member.jpg') }}" alt="">
    <h3>Mickaël</h3>
    <p>Développeur Web et Web mobile</p>
  </div>
  <div class="team-member">
    <img src="{{ asset('images/team-member.jpg') }}" alt="">
    <h3>Julien</h3>
    <p>Développeur Web et Web mobile</p>
  </div>
  <div class="team-member">
    <img src="{{ asset('images/team-member.jpg') }}" alt="">
    <h3>Léa</h3>
    <p>Développeur Web et Web mobile</p>
  </div>
  <div class="team-member">
    <img src="{{ asset('images/team-member.jpg') }}" alt="">
    <h3>Léo</h3>
    <p>Développeur Web et Web mobile</p>
  </div>
</div>

{% endblock %}
