{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
<style>

</style>
<div class="about-section">
  <h1>Qui sommes-nous ?</h1>
  <p>Notre projet de fin de formation chez WF3 Lille, Cocoricamp !</p>
  <p>Proposer des hébergements, eco-responsable à des prix attractifs pour les JO 2024.</p>
</div>

<h2 style="text-align:center">L'équipe du projets est composée de 4 développeurs Web et Web mobile</h2>
<div class="row">
  <div class="column">
    <div class="card">

      <img src="" alt="Simon Hochard" class="img-about">

      <div class="container">
        <h2>Simon Hochard</h2>
        <p class="title">Développeur web et web mobile</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>email</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <img src="{{ asset('images/oualid.jpg') }}" alt="Oualid Belarbi" class="img-about">

      <div class="container">
        <h2>Oualid Belarbi</h2>
        <p class="title">Developpeur web et web mobile</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>oualid.belarbi@hotmail.fr</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <img src="" alt="Dorian Cottin" class="img-about">

      <div class="container">
        <h2>Dorian Cottin</h2>
        <p class="title">Développeur web et web mobile</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>email</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">

      <img src="" alt="Mahdi Ichir" class="img-about">

      <div class="container">
        <h2>Mahdi Ichir</h2>
        <p class="title">Developpeur web et web mobile</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>email</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
