{% extends 'base.html.twig' %}

{% block title %}Nos hébergements{% endblock %}

{% block body %}


<div class="child-page-listing">

  <div class="grid-container">

    

    

    <article id="1" class="location-listing">

      <a class="location-title" href="#">
          Tipis           </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt=" Tipis  ">  </a>

      </div>

    </article>

    <article id="2" class="location-listing">

      <a class="location-title" href="#">
          Tente           </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt="Tente">  </a>

      </div>

    </article>
    <article id="3" class="location-listing">

      <a class="location-title" href="#">
          Cabanes           </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt="Cabanes">  </a>

      </div>

    </article>
    <article id="4" class="location-listing">

      <a class="location-title" href="#">
          Cabanes           </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt="Cabanes">  </a>

      </div>

    </article>
    <article id="5" class="location-listing">

      <a class="location-title" href="#">
          Cabanes           </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt="Cabanes">  </a>

      </div>

    </article>
    <article id="6" class="location-listing">

      <a class="location-title" href="#">
          Chambre solo          </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt="Chambre solo ">  </a>

      </div>

    </article>
    <article id="7" class="location-listing">

      <a class="location-title" href="#">
          Gites          </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt="Gites">  </a>

      </div>

    </article>
    <article id="8" class="location-listing">

      <a class="location-title" href="#">
          Chalet           </a>

      <div class="location-image">
        <a href="#">
            <img width="300" height="169" src="/images/pic2.jpg" alt="Chalet">  </a>

      </div>

    </article>





  </div>
  <!-- end grid container -->

</div>


{% endblock %}
