{% extends 'base.html.twig' %}

{% block title %}Nos hébergements{% endblock %}

{% block body %}


<div class="main-container">

    <a class="location-container">

        <p class="location-title">Tipis</p>

        <img  src="{{ asset('images/pic1.jpg') }}"  alt="Tipis"> 

    </a>

    <a class="location-container">

        <p class="location-title">Tentes</p>

        <img  src="{{ asset('images/pic2.jpg') }}"  alt="Cabanes"> 

    </a>

    <a class="location-container">

        <p class="location-title">Cabanes</p>

        <img  src="{{ asset('images/pic2.jpg') }}"  alt="Cabanes"> 

    </a>

</div> 

{% endblock %}