<nav>
    <div class="nav">
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('images/logo-text.svg') }}" alt="">
        </a>
        <ul>
            <li><a href="{{ path('app_lodging') }}">Hébergements</a></li>
            <li><a href="#">Nos services</a></li>
            <li><a href="#">Qui sommes-nous</a></li>
        </ul>
        <a href="{{ path('app_register') }}" class="">S'identifier</a>
</nav>