{% extends 'base.html.twig' %}

{% block title %}Payer votre réservation{% endblock %}

{% block body %}

    <form action="/checkout" method="post">
        <button type="submit" class="">Payer</button>
    </form>

{% endblock %}
